# Ignorar todo en la carpeta data excepto anotaciones si es necesario.
data/*
!data/annotations/*

# Ignorar todo en la carpeta "working" de la carpeta "notebooks" excepto los archivos de datos si es necesario.
notebooks/working/*
notebooks/optuna_yolo_training/*
notebooks/regular_yolo_training/*
notebooks/yolov8n.pt

# Ignorar entornos virtuales
.env/
*.env

# Ignorar archivos temporales de Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Ignorar archivos de logs
*.log
logs/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos generados por el sistema de construcción
*.egg-info/
*.egg
build/
dist/

# Ignorar archivos de notebook checkpoints
.ipynb_checkpoints/

# Ignorar outputs y carpetas de resultados temporales
results/
output/
test/

# Ignorar configuraciones locales de IDE
.vscode/
.idea/

# Ignorar carpetas ocultas y otros archivos temporales
*.bak
*.swp
*.tmp

# Ignorar el PDF generado si no es parte del código fuente
# *.pdf
