# Machine Learning & Deep Learning
torch==2.4.1+cpu  # If using GPU, replace with the correct CUDA version (e.g., torch==2.4.1+cu118)
ultralytics==8.2.99

# Image Processing
opencv-python==4.9.0.80
pillow==11.1.0
matplotlib==3.8.4
albumentations==1.3.1

# Data Handling & Utilities
numpy==1.26.4
pandas==2.2.1
pyyaml==6.0.1
json5==0.9.14
glob2==0.7

# Machine Learning Optimization
optuna==3.5.0
scikit-learn==1.4.1

# CLI & Logging
argparse==1.4.0
logging==0.4.9.6
tqdm==4.66.2




# Kaggle API
kaggle==1.6.17
